<!--Background Image title-->
<section class="bg-title">
  <!-- <img src="/assets/titles-zones/title-zone-02.jpg" alt=""> -->
  <div class="overlay"></div>
  <div class="container">
    <div class="row text-content paddings center">
      <div class="col-md-12">
        <h2>Equipe: <%= @team.name %></h2>
      </div>
    </div>
  </div>
</section>
<!--Background Image title-->

<!--Central Content-->
            <section class="container">
                <div class="row paddings">

                    <div class="col-md-4">
                    <figure><%= image_tag @team.picture.url(:team_list) %></figure>
                    </div>
                    <div class="col-md-8">
                        <p><%= simple_format @team.description %></p>
                    </div>
                    <div class="col-md-12 right">
                      <h2 class="center">Integrantes</h2>
                      <hr>
                      <!--About-->
                      <ul class="team-carousel">
                      <% @team.team_members.each do |team_member| %>
                          <li>
                              <figure class="team-gallery">
                                <%= image_tag (team_member.photo_file_name.blank? ? 'team/team-01.jpg' : team_member.photo.url(:team_list)) %>

                                  <figcaption class="overlay-info">

                                      <div class="data-name">
                                          <h3><%= team_member.member %></h3>
                                      </div>

                                      <div class="overlay-description">
                                         <%= simple_format team_member.resume %>
                                      </div>

                                      <!-- <ul class="social">
                                          <li><a href="#" class="tooltip_hover" title="facebook" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                                          <li><a href="#" class="tooltip_hover" title="google +" target="_blank"><i class="fa fa-google-plus-square"></i></a></li>
                                          <li><a href="#" class="tooltip_hover" title="flickr" target="_blank"><i class="fa fa-flickr"></i></a></li>
                                          <li><a href="#" class="tooltip_hover" title="github" target="_blank"><i class="fa fa-github-square"></i></a></li>
                                      </ul> -->

                                  </figcaption>

                              </figure>
                          </li>
                        <% end -%>
                      </ul>
                      <!--About-->
                    </div>


                </div>
            </section>
            <!--Central Content-->
