<!--Background Image title-->
<section class="bg-title">
  <!-- <img src="/assets/titles-zones/title-zone-02.jpg" alt=""> -->
  <div class="overlay"></div>
  <div class="container">
    <div class="row text-content paddings center">
      <div class="col-md-12">
        <h2>Equipes Oficiais</h2>
      </div>
    </div>
  </div>
</section>
<!--Background Image title-->

<!--Central Content-->
            <section class="container">
                <div class="row paddings">

                    <% @teams.each do |team| %>
                    <div class="col-md-12 right">
                        <h2 class="center"><%= team.name %></h2>
                    <hr>
                        <ul class="team-carousel">
                        <li>
                        <figure class="team-gallery">
                            <%= image_tag (team.picture.blank? ? 'team/team-01.jpg' : team.picture.url(:team_list)) %>

                            <figcaption class="overlay-info">

                                <div class="data-name">
                                    <h3><%= team.name %></h3>
                                </div>

                                <div class="overlay-description">
                                   <%= truncate team.description, length: 100 %>
                                </div>

                            </figcaption>

                        </figure>
                        </li>
                        <% team.team_members.limit(4).each do |team_member| %>
                         <li>
                            <figure class="team-gallery">
                                <%= image_tag (team_member.photo_file_name.blank? ? 'team/team-01.jpg' : team_member.photo.url(:team_list)) %>

                                <figcaption class="overlay-info">

                                    <div class="data-name">
                                        <h3><%= team_member.member %></h3>
                                    </div>

                                    <div class="overlay-description">
                                       <%= simple_format team_member.resume %>
                                    </div>

                                </figcaption>

                            </figure>
                            </li>
                        <% end %>
                        </ul>
                        <%= link_to 'Mais informações', public_team_path(team), class: 'btn btn-primary' %>
                    </div>
                    <% end -%>
                </div>
            </section>
            <!--Central Content-->
