<section class="container padding-bottom">
  <div class="row">
    <div class="col-md-5">
      <h2><%= t('.title').html_safe %></h2>
      <hr class="left-hr" />

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

        <%= f.submit t('sign_in'), class: 'btn btn-primary' %>
        <%= t('or') %>
        <a href="<%= user_omniauth_authorize_path(:facebook) %>" class="btn btn-default btn-sm"><i class="fa fa-facebook"></i> <%= t('login_with_facebook') %></a>
      <% end %>
    </div>
    <div class="col-md-1">
    <h2 class="center"><%= t('or').html_safe %></h2>
    </div>
    <div class="col-md-6">
      <h3><%= t('users.registrations.new.header').html_safe %></h3>
      <hr class="left-hr" />
      <p><small><%= t('users.registrations.new.text').html_safe %></small></p>
      <%= simple_form_for(User.new, url: registration_path(:user), html: {class: 'top-mini'}) do |f| %>

          <%= f.input :name %>
          <%= f.input :email %>
          <%= f.input :password %>
          <%= f.input :password_confirmation %>
          <%= f.input :info, input_html: {rows: 3} %>

          <%= f.submit t('users.registrations.new.save'), class: 'btn btn-primary col-sm-4' %>
      <% end -%>
    </div>
  </div>

</section>
