<% cache post do %>
<!--item-->
<div class="row items">
    <figure class="col-lg-5 col-md-6 col-sm-6">
        <%= image_tag post.picture.url(:medium), alt: post.title %>
        <figcaption>
            <h4><%= post.title %></h4>
            <hr>
            <p><span><i class="fa fa-user"></i> <%= t('.by') %>:</span><%= post.user.name %></p>
            <a class="btn btn-primary" href="<%= public_post_path(post) %>" role="button"><%= t('.read_more') %></a>
        </figcaption>
    </figure>

    <div class="col-lg-7 top-mini col-md-6 col-sm-6">
        <div class="display-pc">
            <h3><%= post.title %></h3>
            <hr class="left-hr">
        </div>

        <ul class="list-unstyled">
            <li><p><span><i class="fa fa-folder"></i> <%= t('.categories') %>: </span><%= post_categories_sentence(post) %></p></li>
            <li><p><span><i class="fa fa-calendar"></i> <%= t('.published_at') %>: </span><%= l(post.published_at) %></p></li>
        </ul>

        <p class="display-pc"><%= post.resume %></p>
    </div>
</div>
<!--item-->
<% end -%>
