<!--Background Image title-->
<section class="bg-title">
  <!-- <img src="/assets/titles-zones/title-zone-02.jpg" alt=""> -->
  <div class="overlay"></div>
  <div class="container">
    <div class="row text-content paddings center">
      <div class="col-md-12">
        <h2><%= t('.title') %></h2>
      </div>
    </div>
  </div>
</section>
<!--Background Image title-->

<!--Central Content-->
<section class="container padding-bottom">
    <div class="row top-mini">

        <!--Contact Form-->
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p><%= t('.text').html_safe %></p>
            <h3 class="form-contact"><%= t('.sub_title') %></h3>
            <hr class="left-hr" />
            <%= simple_nested_form_for @suspicion, url: public_suspicions_path, html: {class: 'form-contact'} do |f| %>
              <div class="row form-group form-comment form_contact">
                <div class="col-sm-12">
                  <%= f.input :description, required: :required %>
                </div>
                <div class="col-sm-12">
                  <%= f.input :picture, as: :file %>
                </div>
                <div class="col-sm-12">
                  <%= f.input :zipcode %>
                </div>
                <div class="col-sm-12">
                  <%= f.input :state %>
                </div>
                <div class="col-sm-12">
                  <%= f.input :city %>
                </div>
                <div class="col-sm-12">
                  <%= f.input :address %>
                </div>

                <%= f.fields_for :suspicion_bike_parts do |suspicion_bike_part_form| %>
                  <div class="col-sm-12">
                    <div class="well">
                      <legend><%= t('.bike_part_title') %></legend>
                      <div class="col-sm-12">
                        <%= suspicion_bike_part_form.input :part_name, placeholder: t('simple_form.hints.suspicion_bike_part.part_name') %>
                      </div>
                      <div class="col-sm-12">
                        <%= suspicion_bike_part_form.input :part_value, placeholder: t('simple_form.hints.suspicion_bike_part.part_value') %>
                      </div>
                      <%= suspicion_bike_part_form.link_to_remove '<i class="fa fa-minus-circle"></i> '.html_safe+t('.remove_suspicion_bike_parts'), class: 'btn btn-danger btn-xs' %>
                    </div>
                  </div>
                <% end %>
                <%= f.link_to_add '<i class="fa fa-plus-circle"></i> '.html_safe+t('.add_suspicion_bike_parts'), :suspicion_bike_parts, class: 'btn btn-info btn-xs' %>
                <!-- <div class="col-sm-12"> -->

                <!-- </div> -->

              </div>
              <%= f.submit class: "btn btn-primary" %>
          <% end -%>

        </div>
        <!--Contact Form-->

    </div>
</section>
<!--Central Content-->
