<% if @race_special %>
<!-- Video -->
<section class="container">
    <div class="row">
        <div class="col-lg-12 top-mini">
        <h2 class="center">Próxima <span class="color">Prova</span> e tudo que já ocorreu</h2>
        <hr />
        </div>
    </div>
</section>
<section class="video-gallery top-mini">
    <% unless @race_special.video.blank? %>
    <a class="iframe_video" title="<%= @race_special.title %>" href="https://www.youtube.com/embed/<%= @race_special.video %>?autoplay=1">
            <div class="video">
                <figure>
                    <ul class="rslides">
                      <li><%= image_tag @race_special.picture.url %></li>
                  </ul>
                  <figcaption>
                    <div class="wow pulse animated" data-wow-delay="300ms" data-wow-iteration="infinite" data-wow-duration="2s">
                        <i class="fa fa-play-circle"></i>
                    </div>
                    <% if @race_special.show_title_in_index %>
                    <div class="text-video">
                        <h2><%= @race_special.title %></h2>
                        <time datetime="<%= @race_special.occur_at.to_s(:db) %>"><%= l @race_special.occur_at %></time>
                    </div>
                    <div class="sub-text wow fadeInRight animated" data-wow-delay="300ms" data-wow-duration="2s">
                        <h4>Em destaque</h4>
                    </div>
                    <% end -%>
                </figcaption>
            </figure>
        </div>
    </a>
    <% else %>
    <a href="<%= public_race_path(@race_special) %>">
      <div class="video">
        <figure>
          <ul class="rslides">
            <li><%= image_tag @race_special.picture.url %></li>
          </ul>
          <figcaption>
            <% if @race_special.show_title_in_index %>
            <div class="text-video">
              <h2><%= @race_special.title %></h2>
              <time datetime="<%= @race_special.occur_at.to_s(:db) %>"><%= l @race_special.occur_at %></time>
            </div>
            <div class="sub-text wow fadeInRight animated" data-wow-delay="300ms" data-wow-duration="2s">
              <h4>Em destaque</h4>
            </div>
            <% end -%>
          </figcaption>
        </figure>
      </div>
    </a>
    <% end -%>


<div class="row gallery" style="margin-top:0">

    <!--Items-->
    <% @races.each do |race| %>
    <div class="col-md-12">
        <h3><%= link_to race.title, public_race_path(race) %></h3>
        <hr />
        <p><small><i class="fa fa-calendar"></i> <%= t('.occur_at') %>: <%= l(race.occur_at, format: :short) %></small></p>
        <p><%= race.resume %></p>
    </div>
    <!--Items-->
        <% if race.pictures.count > 1 %>
        <!--Gallery Images-->
        <div class="col-md-12">
            <ul class="gallery-images top">
                <% race.pictures.limit(8).order("rand()").each do |picture| %>
                <li>
                    <a class="fancybox center"  title="" href="<%= picture.photo.url(:big) %>">
                        <figure><img src="<%= picture.photo.url(:gallery_list) %>" alt=""><figcaption><i class="fa fa-search-plus"></i></figcaption></figure>
                    </a>
                </li>
                <% end -%>
            </ul>
        </div>
        <!--Gallery Images-->
        <% end -%>
    <% end -%>

</div>

</section>
<!-- Video -->
<% end -%>
