<% if @team %>
<!-- equipe em destaque -->
<section class="container padding-bottom display-pc">

    <div class="row">

      <!--First Team-->
        <div class="col-md-12 right">
                        <h2 class="center">Equipe em destaque: <%= @team.name %></h2>
                    <hr>
                        <ul class="team-carousel">
                        <li>
                        <figure class="team-gallery">
                            <%= image_tag (@team.picture.blank? ? 'team/team-01.jpg' : @team.picture.url(:team_list)) %>

                            <figcaption class="overlay-info">

                                <div class="data-name">
                                    <h3><%= @team.name %></h3>
                                </div>

                                <div class="overlay-description">
                                   <%= truncate @team.description, length: 100 %>
                                </div>

                            </figcaption>

                        </figure>
                        </li>
                        <% @team.team_members.limit(4).order("rand()").each do |team_member| %>
                         <li>
                            <figure class="team-gallery">
                                <%= image_tag (team_member.photo_file_name.blank? ? 'team/team-01.jpg' : team_member.photo.url(:team_list)) %>

                                <figcaption class="overlay-info">

                                    <div class="data-name">
                                        <h3><%= team_member.member %></h3>
                                    </div>

                                    <div class="overlay-description">
                                       <%= simple_format team_member.resume %>
                                    </div>

                                </figcaption>

                            </figure>
                            </li>
                        <% end %>
                        </ul>
                        <%= link_to 'Mais informações', public_team_path(@team), class: 'btn btn-primary' %>
                    </div>
        <!--First Team-->
    </div>
</section>
<!-- equipe em destaque FIM -->
<% end -%>
