<!--Background Image title-->
<section class="bg-title">
  <!-- <img src="/assets/titles-zones/title-zone-02.jpg" alt=""> -->
  <div class="overlay"></div>
  <div class="container">
    <div class="row text-content paddings center">
      <div class="col-md-12">
        <h2>Divulgações e Parcerias</h2>
      </div>
    </div>
  </div>
</section>
<!--Background Image title-->

<!--Central Content-->
<section class="container">
  <div class="row padding-bottom top-mini">

    <div class="col-md-12">
      <h2><span class="color">Divulgações</span></h2>
      <hr class="left-hr">
      <p>Bom, tentaremos explicar da maneira mais simples então vamos lá. Sempre trabalhamos com parcerias pois visamos ganhos para todos os lados.</p>
      <p>Temos espaços para exibir em nossos aplicativos, eventos e página inicial.</p>
      <p>Caso tenha interesse entre em contato em <%= t(:contact_email).html_safe %>.</p>
    </div>
  </div>
</section>
<!--Central Content-->
