<div class="row item-category events">
  <div class="items">
    <figure class="col-lg-4 col-md-6 col-sm-6">
      <%= image_tag race.picture.url(:medium), alt: race.title %>
      <figcaption>
        <h4><%= race.city %> / <%= race.state %></h4>
        <hr>
        <p><%= race.race_type %></p>
        <a class="btn btn-primary" href="<%= public_race_path(race) %>" role="button">Mais informações</a>
      </figcaption>
    </figure>
  </div>

  <div class="col-lg-3 details col-md-6 col-sm-6">
    <h4><i class="fa fa-calendar"></i> Inscrição</h4>
    <p><%= race.payment_method %></p>

    <div class="top-mini">
      <h4><i class="fa fa-money"></i> Dados para pagamento</h4>
      <p><%= simple_format race.payment_details %></p>
    </div>

    <div class="top-mini">
      <h4><i class="fa fa-clock-o"></i> Data de realização</h4>
      <p><%= l(race.occur_at) %></p>
    </div>
  </div>

  <div class="col-lg-5 col-md-12 description col-sm-12">
    <h4><%= race.title %></h4>
    <hr class="left-hr">
    <p><%= simple_format race.description %></p>
  </div>
</div>
