<section class="container padding-bottom">
  <div class="row">
    <div class="col-lg-12 top-mini">
      <h2><%= t 'devise.invitations.edit.header' %></h2>
      <p><%= t('devise.invitations.edit.text').html_safe %></p>

      <%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :invitation_token %>

      <%= f.input :password %>
      <%= f.input :password_confirmation %>

      <%= f.submit t("devise.invitations.edit.submit_button"), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</section>
