<section class="container padding-bottom">
  <div class="row">
    <div class="col-lg-12 top-mini">
    <% unless user_signed_in? %>
      <h2><%= t "devise.invitations.new.header" %></h2>

      <%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
      <%= devise_error_messages! %>

      <% resource.class.invite_key_fields.each do |field| -%>
      <%= f.input field %>
      <% end -%>

      <%= f.submit t("devise.invitations.new.submit_button"), class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <h2><%= t("devise.invitations.new.header_already_sign_in", email: current_user.email).html_safe %></h2>
      <p><%= t("devise.invitations.new.text_already_sign_in") %></p>
      <p><%= link_to t('.logout'), destroy_user_session_path, method: :delete %></p>
    <% end -%>
    </div>
  </div>
</section>
