<!--Background Image title-->
<section class="bg-title">
  <!-- <img src="img/titles-zones/title-zone-02.jpg" alt=""> -->
  <div class="overlay"></div>
  <div class="container">
    <div class="row text-content paddings center">
      <div class="col-md-12">
        <h2><%= t('.title') %></h2>
      </div>
    </div>
  </div>
</section>
<!--Background Image title-->
<section class="container padding-bottom top-mini">
  <div role="tabpanel" class="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#edit_my_data" aria-controls="edit_my_data" role="tab" data-toggle="tab"><%= t('my_account.edit_my_data.title') %></a></li>
      <li role="presentation"><a href="#robberies" aria-controls="robberies" role="tab" data-toggle="tab"><%= t('my_account.robberies.title') %></a></li>
      <li role="presentation"><a href="#edit_team" aria-controls="edit_team" role="tab" data-toggle="tab"><%= t('my_account.edit_team.title') %></a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="edit_my_data">
        <%= render 'edit_my_data' %>
      </div>

      <div role="tabpanel" class="tab-pane" id="robberies">
        <%= render 'robberies' %>
      </div>
      <div role="tabpanel" class="tab-pane" id="edit_team">
        <%= render 'edit_team' %>
      </div>
    </div>
  </div>
</section>
