.padding-bottom {
  padding-bottom: 40px;
}

.margins{
  margin: 15px
}


form .well .row{
  margin-left: 15px;
  margin-right: 15px
}

#error_explanation{
  h2, h3, li{
    color: #a94442
  }
}

form.simple_form .alert{
  width: 100%;
}


.form-contact p.help-block{
  font-size: 12px;
  line-height: 12px;
}

div.events{
  min-height: 330px !important;
}
