<%= simple_form_for(@product, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="well">
    <div class="row">
      <h3>Descrição do Produto</h3>
      <div class="col-sm-12">
        <%= f.input :name %>
      </div>
      <div class="col-sm-12">
        <%= f.input :product_picture, as: :file %>
      </div>
      <% if f.object.picture %>
      <div>
        <%= image_tag f.object.picture.url(:medium) %>
      </div>
      <% end -%>
      <div class="col-sm-12">
        <%= f.input :video %>
      </div>
      <div class="col-sm-12">
        <%= f.input :price %>
      </div>
      <div class="col-sm-12">
        <%= f.input :features, input_html: {rows: 4}, hint: 'Uma característica por linha' %>
      </div>
      <div class="col-sm-12">
        <%= f.input :description, input_html: {rows: 5} %>
      </div>
      <div class="col-sm-12">
        <%= f.input :product_type, hint: 'Bicicleta, Peça, Componente' %>
      </div>
      <div class="col-sm-12">
        <%= f.input :colors, hint: 'Cor hexadecimal ou em inglês' %>
      </div>
    </div>
  </div>

  <div class="well">
    <div class="row">
      <h3>Visibilidade</h3>
      <div class="col-sm-12">
        <%= f.input :expire_at, include_blank: true %>
      </div>
      <div class="col-sm-12">
        <%= f.input :active %>
      </div>
    </div>
  </div>

  <div class="well">
    <div class="row">
      <h3>Vendedor</h3>
      <div class="col-sm-12">
        <%= f.association :user, collection: User.all %>
      </div>
      <div class="col-sm-12">
        <%= f.input :contact_name %>
      </div>
      <div class="col-sm-12">
        <%= f.input :contact_email %>
      </div>
      <div class="col-sm-12">
        <%= f.input :contact_phone %>
      </div>
      <div class="col-sm-12">
        <%= f.input :contact_facebook %>
      </div>
    </div>
  </div>

  <%= f.submit class: "btn btn-primary" %>
  <%= link_to(t('manage_pictures'), product_pictures_path(@product), class: 'btn btn-primary') unless @product.new_record? %>
  <%= link_to 'Voltar', products_path, class: 'btn btn-default' %>
<% end %>
