<!--Menu-->
<nav>
  <div class="container">
    <div class="row">

      <!--Logo-->
      <div class="col-md-5 col-lg-6 col-sm-12 logo">
        <a href="<%= root_path %>">
          <%= image_tag "logo-radar.png", alt: t(:app_name) %><span> <%= t(:app_name) %></span>
        </a>
      </div>
      <!--Logo-->

      <!--Login-->
      <ul class="bar-login col-md-7 col-sm-12 col-lg-6 right">
        <li><p><a href="<%= calendar_public_races_path %>"><%= t('.calendar_races') %> <i class="fa fa-calendar"></i></a></p></li>
        <% unless user_signed_in? %>
        <li><p><a href="#" data-target=".register" data-toggle="modal"><%= t('.register') %> <i class="fa fa-user-plus"></i></a></p></li>
        <% end -%>
        <% unless user_signed_in? %>
        <li>
          <p>
            <a href="#" id="showlogin">
              <%= t('.my_account') %>
              <span id="triangle_down">&#9660;</span>
              <span id="triangle_up" style="display:none;">&#9650;</span>
            </a>
          </p>

          <div id="loginpanel">
            <%= render 'layouts/user_sign_in' %>
          </div>
        </li>
        <% else %>
        <li><p><a href="<%= my_account_path %>"><%= t('.my_account') %> <i class="fa fa-user"></i></a></p></li>
        <li><p><%= link_to 'Sair  <i class="fa fa-sign-out"></i>'.html_safe, destroy_user_session_path, method: :delete %></p></li>
        <% end -%>
      </ul>
      <!--Login-->

    </div>
  </div>

  <!-- mainmenu-->
  <div class="mainmenu">
    <div class="container">
      <div class="row">
        <!-- Menu-->
        <ul class="col-md-12 sf-menu" id="menu">

          <li class="selected current">
            <a href="<%= root_path %>"><%= t('.home') %></a>
          </li>

          <li class="current">
            <a href="#"><%= t('.stolen') %></a>
            <ul class="sub-current">
              <li><a href="<%= new_public_robbery_path %>"><i class="fa fa-plus"></i> <%= t('.new_robbery') %></a></li>
              <li><a href="<%= new_public_suspicion_path %>"><i class="fa fa-plus"></i> <%= t('.new_suspicions') %></a></li>
            </ul>
          </li>
<!--
          <li class="current">
            <a href="#">Bicicletas e Peças</a>
            <ul class="sub-current">
              <li><a href="about.html"><i class="fa fa-plus"></i> Mostrar Tudo</a></li>
              <li><a href="about.html"><i class="fa fa-plus"></i> Bicicletas</a></li>
              <li><a href="trips.html"><i class="fa fa-plus"></i> Peças</a></li>
            </ul>
          </li>
 -->
          <li class="current">
            <a href="#">Provas</a>
            <ul class="sub-current">
              <li><a href="<%= calendar_public_races_path %>"><i class="fa fa-plus"></i> <%= t('.calendar_races') %></a></li>
              <li><a href="<%= public_races_path %>"><i class="fa fa-plus"></i> <%= t('.next_races') %></a></li>
              <li><a href="<%= last_public_races_path %>"><i class="fa fa-plus"></i> <%= t('.last_races') %></a></li>
              <li><a href="<%= race_organization_public_races_path %>"><i class="fa fa-plus"></i> <%= t('.race_organization') %></a></li>
              <!-- <li><a href="trips.html"><i class="fa fa-plus"></i> Cadastre sua Prova</a></li> -->
            </ul>
          </li>

          <li class="current">
            <a href="#">Equipes</a>
            <ul class="sub-current">
              <li><a href="<%= public_teams_path %>"><i class="fa fa-plus"></i> Mostrar Todas</a></li>
              <li><a href="<%= special_public_teams_path %>"><i class="fa fa-plus"></i> Equipes Oficiais</a></li>
              <!-- <li><a href="trips.html"><i class="fa fa-plus"></i> Cadastre sua Equipe</a></li> -->
            </ul>
          </li>

          <li class="current">
            <a href="#">Blog</a>
            <ul class="sub-current">
              <% cache @menu_post_categories do %>
                <% @menu_post_categories.each do |post_category| %>
                  <% cache post_category do %>
                  <li><a href="<%= public_post_category_path(post_category) %>"><i class="fa fa-plus"></i> <%= post_category.name %></a></li>
                  <% end -%>
                <% end -%>
              <% end -%>
            </ul>
          </li>


          <li class="current">
            <a href="#">Sobre a <%= t(:app_name) %></a>
            <ul class="sub-current">
              <li><a href="<%= about_path %>"><i class="fa fa-plus"></i> Sobre a empresa</a></li>
              <li><a href="<%= advertising_path %>"><i class="fa fa-plus"></i> Divulgações e Parcerias</a></li>
              <li><a href="<%= contact_path %>"><i class="fa fa-plus"></i> Fale Conosco</a></li>
            </ul>
          </li>

          <% if admin_signed_in? %>
          <li class="current">
            <a href="#">Administração</a>
            <ul class="sub-current">
              <li><a href="<%= products_path %>"><i class="fa fa-plus"></i> Produtos</a></li>
              <li><a href="<%= post_categories_path %>"><i class="fa fa-plus"></i> Categorias Posts</a></li>
              <li><a href="<%= posts_path %>"><i class="fa fa-plus"></i> Posts</a></li>
              <li><a href="<%= races_path %>"><i class="fa fa-plus"></i> Provas</a></li>
              <li><a href="<%= teams_path %>"><i class="fa fa-plus"></i> Equipes</a></li>
            </ul>
          </li>
          <% end -%>
        </ul>
        <!-- End Menu-->
      </div>
    </div>
  </div>
  <!-- End mainmenu-->

</nav>
<!--Menu-->
