<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1,  maximum-scale=1">
  <title><%= t(:app_name) %> - <%= content_for?(:title) ? yield(:title) : t(:app_slogan) %></title>
  <meta name="robots" content=""/>
  <meta name="googlebot" content=""/>
  <meta name="google" content="nositelinkssearchbox"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <link href="#" rel="stylesheet" media="screen" class="skin">

  <!-- Favicons -->
  <link rel="shortcut icon" href="<%= image_path "icons/favicon.ico" %>">
  <link rel="apple-touch-icon" href="<%= image_path "icons/apple-touch-icon.png" %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path "icons/apple-touch-icon-72x72.png" %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path "icons/apple-touch-icon-114x114.png" %>">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
    <![endif]-->

  <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="<%= asset_path "css3selectors/selectivizr.js" %>"></script>
    <![endif]-->

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>


    <!--Preloader-->
    <div class="preloader">
      <div class="status">&nbsp;</div>
    </div>
    <!--Preloader-->

    <!--Layout Theme Options-->
    <div id="layout">

      <%= render "layouts/top_menu" %>
      <%= flash_messages(:js) %>
      <%= yield %>
      <%= render "layouts/register" %>
      <%= render "layouts/footer_subscription" unless user_signed_in? %>
      <%= render "layouts/footer" %>

    </div>
    <!--Layout Theme Options-->
    <%= yield(:footer) %>
  </body>
  <% unless admin_signed_in? %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67828414-1', 'auto');
  ga('send', 'pageview');
  </script>
  <% end -%>
</html>
