<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1,  maximum-scale=1">
  <title><%= t(:app_name) %> - <%= t('comming_soon.index.title') %></title>
  <meta name="robots" content=""/>
  <meta name="googlebot" content=""/>
  <meta name="google" content="nositelinkssearchbox"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Skins Theme -->
  <link href="#" rel="stylesheet" media="screen" class="skin">

  <!-- Favicons -->
  <link rel="shortcut icon" href="<%= image_path "icons/favicon.ico" %>">
  <link rel="apple-touch-icon" href="<%= image_path "icons/apple-touch-icon.png" %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path "icons/apple-touch-icon-72x72.png" %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path "icons/apple-touch-icon-114x114.png" %>">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
    <![endif]-->

  <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="<%= asset_path "css3selectors/selectivizr.js" %>"></script>
    <![endif]-->

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>


    <!--Preloader-->
    <div class="preloader">
      <div class="status">&nbsp;</div>
    </div>
    <!--Preloader-->

    <!--Layout Theme Options-->
    <div id="layout">
      <%= flash_messages(:js) %>
      <%= yield %>

      <%= render "layouts/footer_subscription" %>
      <%= render "layouts/footer" %>
    </div>
    <!--Layout Theme Options-->

  </body>
</html>
