<section class="container padding-bottom">
  <h2><%= t('.title').html_safe %></h2>
  <hr class="left-hr" />
  <p><small><%= t('.text').html_safe %></small></p>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>

  <!-- <div class="well"> -->
    <div class="row">
      <div class="col-sm-12">
        <%= f.input :name, required: true, autofocus: true %>
      </div>
      <div class="col-sm-12">
        <%= f.input :email, required: true %>
      </div>
      <div class="col-sm-12">
        <%= f.input :password, required: true %>
      </div>
      <div class="col-sm-12">
        <%= f.input :password_confirmation, required: true %>
      </div>
      <div class="col-sm-12">
        <%= f.input :info, input_html: {rows: 3} %>
      </div>
      <div class="col-sm-12">
        <%= f.input :send_races %>
      </div>
    </div>
  <!-- </div> -->

    <%= f.submit t('.save'), class: 'btn btn-primary' %>
    <%= t('or') %>
    <a href="<%= new_session_path(:user) %>" class="btn btn-default btn-sm"><%= t('sign_in') %></a>
<% end %>
</section>
